/* ===========================
   RESET
=========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===========================
   CUERPO DE LA PÁGINA
=========================== */

body {
    background: #F8F5F1;
    font-family: Inter, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}
